/* Style for table */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.chart-container1 {
    width: 85vw;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
    justify-content: center;
}

.chart-container2 {
    width: 85vw;
    height: 44vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
    justify-content: center;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@media (max-width: 900px) {
    .chart-container1 {
        width: 95vw;
        height: 50vw;
    }
    .chart-container2 {
        width: 95vw;
        height: 60vw;
    }
}
