canvas {
    max-width: 600px;
    max-height: 400px;
    width:90%;
    height: auto;
}

.chart-container {
    width: 85vw;
    height: 45vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
    justify-content: center;
    align-items: center;
}

