.needingMaintenance {
    color: red;
    font-weight: bold;
    height: auto;
    width: auto;
}

#requiresMaintenance.form-check-input {
    height: 35px;
    width: 17% !important;
    float: none;
    margin-left: 0;
}

